.clock{
    display: flex;
    justify-content: space-around;
    width: 200px;
    color:white;
    margin-top: 20px;
    
}
.clockParam{
    border: solid white 2px;
    width: 28%;
    text-align: center;
    padding-top: 2px;
}