<div (click)="clickAppear()" class="menu">
    STATS 
    <div *ngIf="!clickMenu">
        <img src="/assets/flecheGauche.png" alt="">
    </div>
    <div *ngIf="clickMenu">
        <img src="/assets/fleche.png" alt="">
    </div>
</div>
<div *ngIf="clickMenu" class="menuProd">
    <ul>
        <li>
            FOOD<br/> 
            production: {{service.foodProd}} / month<br/>
            consumption: {{service.foodConsumption}} / day<br/>
        </li><br/>
        <li>
            IRON<br/>
            production: {{service.ironProd}} / month
            
        </li><br/>
        <li>
            ENERGY<br/>
            production: {{service.energyProd}} / month<br/>
            consumption: {{service.elecConsumption}} / day <br/>
        </li><br/>
        <li>
            BIRTH NUMBER<br/> {{service.humanProd}} / year
        </li><br/><br/>
        <li>
            POPULATION LEFT<br/> {{ service.popEarth }}
        </li><br/><br/>
        <li>
            DEATH RATING<br/> {{ service.deathRating }}%
        </li>
    </ul>
</div>





