
<div class="container">
    <div class="mouseBuilding" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="onBuildMode_selection(building)"> 
        <img src="{{ building.image }}" alt="">
        <h3> {{ building.name }}</h3> 
    </div>
    <div class="infoMenu">
        <div *ngIf="showProperties" class="build">
            <div class="info">Construction cost : <span>{{ building.cost }} iron</span> </div>
            <div class="info" *ngIf="building.production">Production : <span>{{ building.production }} / month<</span></div>
            <div class="info" *ngIf="building.maxCapacity">Storage capacity : <span>{{ building.maxCapacity }} </span></div>
            <div class="info" *ngIf="building.elecConsumption">Power consumption : <span> {{ building.elecConsumption}} Gwatt</span></div>
            <div class="info" *ngIf="building.foodConsumption">Food consumption : <span> {{ building.foodConsumption}} </span></div>
            <div class="info" *ngIf="building.maxWorker">Maximum of workers : <span> {{ building.maxWorker }} </span> </div>
        </div>
    </div>
</div>
