.build{
    color: #FFFF19;
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    text-shadow: 5px 5px black;
}
h3{
    color: #FFFF19;
    font-size: 2em;
    text-shadow: 5px 5px black;
}