.build{
    color: #FFFF19;
    background: black;
    border: solid white;
    border-radius: 30px;
    opacity: 0.8;
    margin-left: 10%;
    position: relative;
    left: 105%;
    list-style-type: none;
    height: 90px;
    width: 110%;
    margin: 0px;
    padding-top: 4px;
    padding-left: 20px;
}
.mouseBuilding{
    display: flex;  
    justify-content: space-around;
}
li{
    font-size: 0.8em;
    width: 100%;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0  black;
}
.buildingImage{
    width: 2%
}
/*.infoMenu{
    height: 10px;
    margin-top: 20%;
    
}*/
.info{   
    margin-left: 20px;
    width: 10%;
}
    
h3{
    color: #FFFF19;
    text-shadow: 5px 5px black;
    
    
}

span{
    color: green;
    text-shadow: none;
    font-size: 0.9em;
}
img{
    cursor: pointer;
    width: 50px
}
