.build{
    color: #FFFF19;
    background: black;
    border: solid white;
    border-radius: 30px;
    opacity: 0.8;
    margin-left: 10%;
    position: relative;
    left: 95%;
    list-style-type: none;
}
.mouseBuilding{
    display: flex;  
}
.buildingImage{
    width: 2%
}
.infoMenu{
    height: 10px;
    margin-top: 20%;
    
}
.info{   
    margin-left: 20px;
    width: 10%;
}
    
h3{
    color: #FFFF19;
    text-shadow: 5px 5px black;
    
    
}

span{
    color: green;
    text-shadow: none;
    font-size: 0.9em;
}
img{
    cursor: pointer;
    width: 50px
}
