
<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="onBuildMode_selection(building)"> 
    <img src="{{ building.image }}" alt="">
    <h3 class="title"> {{ building.name }}</h3> 
</div>
<div *ngIf="showProperties" class="build">
    <div>Cost :{{ building.cost }} </div>
    <div>Capacity {{ building.name}} :{{ building.humanCapacity }} </div>
    <div>Production Capacity :{{ building.productionCapacity }} </div>
    <div>Speed Capacity :{{ building.productionSpeed }}</div>
</div>

