.image{
    width: auto;
    height: 71.25px;
    
}

img{
    cursor: pointer;
    width: 100%;
    
}
.settingMenu{
    position: relative;
    z-index: 1;
    border-radius: 40px;
    border: thick double;
    background-color: #070D34;
    color: #FFFF19;
    width: 200Px;
    height: 140px;
    font-family: menu;
    display: flex;
    align-items: center;
}
.setCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}