<div class="space">
    <h1 class="title">ELDEBARAN 3000</h1>
</div>
<div class="containerBackground">

    <div class="summary">
        <p>En l’an, 2800, la planète Terre n’est désormais plus habitable, les humains ont exploité absolument toutes les ressources naturelles disponibles. C’est l’heure du grand départ.

        Après plusieurs siècles de recherches intensives le consortium Hal9000 a mis en place un plan de colonisation de la planète Eldebaran située à environ 66 années-lumière du Soleil. Elle est la 13ᵉ étoile la plus brillante du ciel nocturne. Une première expédition de 10 colons explorateurs est partie installer le camp de base sur Eldebaran. Vous êtes en charge de l’expédition et avez la responsabilité de l’installation. </p>
        
        <p>Tous les 10 ans une navette composé de 200 humains arrivera sur Eldebaran. Votre responsabilité est de faire en sorte que les infrastructures nécessaires soient en place avant l’arrivée des nouveaux arrivants. Il faut donc prévoir assez de dortoirs et assez de ressources avant leur arrivée. Si la base n’est pas prête à recevoir de nouveaux colons la mission sera un échec. Les nouveaux arrivant mourront. Votre rôle est donc de garder un équilibre constant entre le niveau de ressources nécessaires et le nombre de colons.
        
        <p>Une fois que la pollution entière de la Terre aura migré vers Eldebaran, votre mission sera terminée.</p>
    </div>

    <div><button mat-raised-button routerLink="/game" (click)=play() class="button">LAUNCH GAME</button></div>
</div>
