mat-progress-bar{
    width: 200px;
    height: 10px;   
}
.travelBar{
    display: flex;
}
.bar{
    display: flex;
    align-items: center;
}
.earth{
    padding-right: 10px;
}
.ship{
    position: relative;
}
.eldebaran{
    position: relative;
    right: 40px;
    bottom: 2px;
}