H2{
    color: white;
    border:solid white 2px;
}
button{
    padding:6px 0 6px 0;
    font-family: eldebaran;
	background:#f5f5f5;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 6px yellow;
}
.play{
	margin-left: 18px;
}
.help{
	margin-left: 80px;
	margin-top: 8px;	
}
.play, .help, .avanceRapide, .stop{
	cursor: pointer;
}