<div class="navBarTutorial">

                <img class="backToGame"src="/assets/arrowBack.png"routerLink="/game">
                <h1 class="title">ELDEBARAN 3000</h1>
                <h2 class="subTitle">TUTORIAL</h2>
        
    
</div>

<div class="containerBackground">
    <div class="textContent">
            <h2>But du jeu : 	Accueillir l'entière population de la Terre.</h2>
            <h2>Game Over : </h2>
            <p>1.	 La navette contenant les colons arrivent et il n’y a pas assez de logements pour les accueillir => Défaite par destitution.</p>
            <p>2.	Le taux de mortalité dépasser 20 % de la population => Défaite par révolte</p>
            <h2>Début de la partie</h2>
            
                    <h3>Le kit de démarrage contient : </h3>
                    <ul>
                        <li>
                            	Un stock de nourriture (quantité : 1000),
                        </li>    
                            
                        <li>
                            	Un stock d’électricité (quantité : 100),
                        </li>
                        
                    </ul>

                    
        <p>Instantanement après avoir lancé la partie en appuyant sur le bouton "LAUNCH GAME", le jeu débute. 
            Les ressources qui vous ont été fournies pour débuter le jeu commencent donc à être consommées. Il vous 
            faudra donc être réactifs et commencer à construire des batiments qui vous permettrons à garder un équilibre 
            sur la planète.
        </p>
        <h2>Création d'un batiment</h2>
        <p>Pour créer un batiment il vous faut ouvrir le "MENU CONSTRUCTOR" situé sur la gauche de l'écran. Cliquez sur
            l'infrastructure désirée. Puis cliquez sur la zone de la carte où vous désirez la placer. Si vous vous êtes
            trompés de batiment et que vous souhaitez en sélectionner un autre. Appuyez sur la touche "c" de votre clavier.
            De cette manière vous desélectionnez la première infrastructure choisie.
            Une fois le bâtiment créé, il commencera à produire sa ressource dédiée. ATTENTION! Vous ne pouvez construire un
            batiment que s'il est situé près d'une route.
        </p>
        <h2>Destruction d'un batiment</h2>
        <p>Pour détruire un batiment, il vous faut simplement cliquer sur le batiment que vous désirez supprimer.
            Un sous-menu apparaitra contenant un bouton "DESTROY". En détruisant un batiment, vous récupererez x et x dans vos
        stocks d'énergies.</p>
        <h2>Fin de la partie</h2>
        <p>Vous avez gagnez la partie dès lors que l'entière population de la Terre est arrivée sur Eldebaran.</p>
    </div>
</div>

        