.menu{
    color: #FFFF19;;
    font-family: eldebaran;
    font-size: 2em;
    text-shadow: 5px 5px black;
    width: 400px;
    cursor: pointer;
    border: solid white;
    border-radius: 20px;
    background: black;
    opacity: 0.8;
    text-align: center;
    padding-top: 20px;
}
.menuConstruct{
    background: black;
    border-radius: 30px;
    opacity: 0.8;
    border: solid 2px white;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin-top: 8px;
}
.fleche{
    display: flex;
}