<div class="stockbar">
        <div class="ressources">
            <div>
                <img src="\assets\Energy_Credits.png" class="icones"/> 
            </div>
            <div class="ressources-bar">
                <mat-progress-bar class="energy-progress" [value]= "energy"  aria-label="Rating"></mat-progress-bar>
                <div>{{energy}}/{{energyMax}}</div>
            </div>
        </div>

        <div class="ressources">
            <div>
                <img src="\assets\Food.png" class="icones"/> 
            </div>
            <div class="ressources-bar">
                <mat-progress-bar class="food-progress" [value]="food"></mat-progress-bar>
                <div>{{food}}/{{foodMax}}</div>
            </div>
        </div>

        <div class="ressources">
            <div>
                <img src="\assets\Mirium.png"class="icones" /> 
            </div>
            <div class="ressources-bar">
                <mat-progress-bar class="iron-progress" [value]="iron"></mat-progress-bar>
                <div>{{iron}}/{{ironMax}}</div>
            </div>
        </div>

        <div class="ressources">
            <div>
                <img  id="human" src="\assets\Amesocratic.png" class="icones"/>
            </div>
            <div class="ressources-bar">
                <mat-progress-bar class="human-progress" [value]="human"></mat-progress-bar>
                <div>{{human}}/{{humanMax}}</div>
            </div>
        </div>    
        

</div>
