body{
    color: #FFFF19;
}
.containerBackground {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 99.75%,rgba(97,108,126, 0.787) 100%), linear-gradient(to top, rgba(255, 255, 255, 0) 90%,rgba(21,22,27, 0.904) 100%), url('/assets/8k_mars.png');
    height: 2000px;
}

.menuConstruct {
    position: absolute;
    z-index: 1;
    width: 20%;
}