body{
    color: #FFFF19;
}
.containerBackground {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 99.75%,rgba(97,108,126, 0.787) 100%), linear-gradient(to top, rgba(255, 255, 255, 0) 90%,rgba(21,22,27, 0.904) 100%), url('/assets/background.png');
    display: flex;
    justify-content: space-between;
}

.menuConstructor {
    z-index: 1;
    position: absolute;
}

.menuProdSpeed {
    z-index: 1;
    position: absolute;
    right: 0;
}
.grid{
    width: 100%;
}