
<div>{{displayCell.building.name}}'s settings</div>
<div class="caseMenu">
    <div>Actual production : {{ displayCell.building.productionSpeed }}</div>
    <div>Maximum of worker : {{ displayCell.building.maxWorker }}</div>
    <div>Current number of workers : {{ displayCell.building.humanCapicity }}</div>
</div>
<div class="button">
    <button (click)="addWorker()" class="plus">+</button>
    <button (click)="removeWorker()" class="less">-</button> 
    <button (click)="destroyBuilding()" class="delete">Destroy</button>
</div>
