<div *ngIf="displayCell.building.isRoad === false">LEVEL {{displayCell.building.level}}</div>
<div>{{displayCell.building.name}}'s settings</div>
<div class="caseMenu">
    <div *ngIf="displayCell.building.isRoad === false">Actual production : {{ displayCell.building.production }}</div>
    <div *ngIf="displayCell.building.isRoad === false">Maximum of worker : {{ displayCell.building.maxWorker }}</div>
    <div *ngIf="displayCell.building.isRoad === false">Active workers : {{ displayCell.building.nbWorkers }}</div>
    <div *ngIf="displayCell.building.isRoad === false">Upgrade cost : {{ displayCell.building.upgradeCost }} </div>
</div>
<div class="button">
    <button *ngIf="displayCell.building.isRoad === false" (click)="addWorker()" class="plus">+</button>
    <button *ngIf="displayCell.building.isRoad === false" (click)="removeWorker()" class="less">-</button> 
    <button (click)="destroyBuilding()" class="delete">Destroy</button>
    <button *ngIf="displayCell.building.isRoad === false" (click)="upgradeBuilding()" class="upgrade">Uprgrade</button>
</div>

